<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kumoh.ce.university_project_note_ver1">
    <!-- google drive -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/timeline_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.University_project_note_ver1">
        <activity android:name=".ui.PasswordActivity" />
        <activity android:name=".ui.timeline.UpdateActivity"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="stxk7160vi" />

        <activity
            android:name=".ui.timeline.MemoSearchActivity"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth" />
        <activity
            android:name=".ui.timeline.TimelineCalendarActivity"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.University_project_note_ver1.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.map.LocationTrackingActivity"
            android:theme="@style/Theme.DialogStyle" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>